.App {
  text-align: center;
  margin: 30px auto 0;
  max-width: 190px;
  padding: 13px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.App button{
  margin: 0.3em;
}
.result_input{
  margin: 0 0 5px;
}

.result_input input{
  text-align: right;
}